PORT=3000
DB_TYPE='sqlite'
MONGO_URL=mongodb://localhost:27017/eventstore
EVENTSTOREDB_URL=esdb://localhost:2113?tls=false
KAFKA_BROKER=localhost:9092
KAFKA_CLIENT_ID=event-store-client

JWT_SECRET=default_secret
JWT_SECRET=your-secret-key

DB_HOST='localhost'
DB_PORT='5432'
DB_USERNAME=''
DB_PASSWORD=''
DB_NAME=''